/* Sitting my universal layout. */
* {
  box-sizing: border-box;
  margin: 0px;
  
}
/* Sitting the Var colors for the webpage */
:root {
  --light-blue: #dff6ff;
  --light-green: #678983;
  --white: #fff;
  --black: #070707;
  --purple: #3b3486;
  --blue: #32a1ce;
  --dark-green: #4c6864;
  --red: #cb1c8d;
}

/* Body Sittings */
body {
  background-color: var(--light-blue);
  font-family: sans-serif;
  line-height: 1.5;
}
/* Header h1 Sittings */
h1 {
  background-color: var(--dark-green);
  border-radius: 30px;
  color: var(--white);
  padding: 15px;
}
/* Portfolio h2 sittings */
.h2 {
  background-color: var(--dark-green);
  border-radius: 30px;
  color: var(--white);
  font-size: 2rem;
  font-family: sans-serif;
  margin: 15px 35px;
  padding: 8px;
}
/* Paaragraph sittings */
.paragraph {
  display: flex;
}

p {
  display: flex;
  margin-bottom: 10px;
  padding: 27px 0px;
  width: 80%;
}
/* Positioning the header layouts */
header {
  display: flex;
  background-color: var(--black);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

/* Nav bar positioning and sittings */
nav ul {
  display: flex;
  min-width: 300px;
  list-style: none;
  justify-content: space-between;
}

/* Main title background image sittings */

.main-title {
  /* background-image: url("https://cdn.dribbble.com/users/1162077/screenshots/3848914/programmer.gif"); */
  background-image: url("https://i.pinimg.com/originals/ba/9c/a1/ba9ca1e81caf80f5540516e4e20df473.gif");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 600px;
  min-height: 30vh;
  color: var(--white);
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
/* Anchor tag sitting and layouts. */
nav a {
  border-radius: 20px 5px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 80% 0.2em;
  color: var(--white);
  font-size: 1.4rem;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: underline;
}
/* Hovering all anchor tags */
a:hover {
  background-color: var(--red);
  background-size: 800% 800%;
}

/* Portfolio layout sittings */
.about-me {
  border-right: solid var(--black);
  border-width: 4px;
  border-radius: 10px;
  height: 180px;
  margin-left: 70px;
  margin: 20px 134px 20px;
  padding: 38px;
  display: flex;
}


.hor-container {
 
}

.hor-inc {
  background-image: url("./digital-marketing-meeting.jpg");
  background-size: cover;
  height: 652px;
  width: 86%;
  border: solid var(--blue);
  border-width: 6px;
  background-color: var(--blue);
  border-radius: 30px;
  color: var(--white);
  margin: 5px;
  padding: 20px;
  line-height: 4px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;

}
/* Side border sittings and layouts */
.work {
  border-right: 4px solid var(--black);
  border-width: 4px;
  color: var(--black);
  border-radius: 10px;
  margin-left: 70px;
  margin: 0px 100px 0px 120px;
  padding: 10px 0px 10px 82px;
  display: flex;
}
#work,#About,#contact {
display: flex;
flex-direction: row;
justify-content: left;
}
#work h2,#About h2,#contact h2 {
  display: flex;
  width: 200px;
}
/* 1st-4rth containtetr images sittings */
.led-main {
  display: flex;
  flex-wrap: wrap;
}

.led-wall,
.cal-culato,
.puz-zels,
.run-buddy {
  background-size: cover;
  background-position: center;
  border-width: 6px;
  border: solid var(--blue);
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 180px;
  justify-content: end;
  padding: 25px 0px 23px 22px;
  width: 42.5%;
}

.led-wall {
  background-image: url("https://cssauthor.com/wp-content/uploads/2021/01/Free-Expo-LED-Display-Banner-Mockup-1-560x560.jpg");
  margin: 10px 0 0 0;
}

.cal-culato {
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--pHrmQNaA--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/q0vxo5pcm6qjo14k0ami.png");
  margin: 10px 10px;
}

.puz-zels {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E16AQGDbKJivcdlEg/profile-displaybackgroundimage-shrink_200_800/0/1594440939904?e=2147483647&v=beta&t=f4giyoIEqMQ1tFtNuGZ9pM7JS9t5ACF2FP4ouOc9U-s");
  margin: 0px 0px 15px 0;
}

.run-buddy {
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.iJzpTYdZZ4EACrVj2Qrs-AHaC-&pid=Api&P=0");
  margin: 0px 0 10px 10px;
}

.wall-led,
.cal-tor,
.pas-puz,
.bu-ddy {
  /* background-color: var(--blue);
  border-radius: 30px; */
  color: var(--white);
  margin-left: 7px;
  line-height: 4px;
  padding: 10px;
  width: 280px;
}


.flating {
  border-right: solid var(--black);
  border-radius: 10px;
  border-width: 4px;
  font-size: 2rem;
  font-family: sans-serif;
  height: 88px;
  margin-left: 5.9%;
  padding: 3px 49px 15px 0px;
  margin: 20px 88px 0px;
  text-align: center;

}

.contact-me a {
  display: inline-block;
  border-radius: 15px 5px;
  color: var(--black);
  font-size: 15px;
  height: 100%;
  margin: 0 2.1rem 0.1rem;;
  padding: 15px;
  text-decoration: underline;
  max-width: auto;
  padding: 7px;
  
}
